<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
  <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
          crossorigin="anonymous">
  </script>
  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous">
  </script>
  <link
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT"
          crossorigin="anonymous">
  <link
          href="https://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet">

  <link href="/css/login.css" rel="stylesheet">


  <style type="text/css">
    body {
      font-family: 'Montserrat'
    }

    .container {
      /*max-width: 992px;*/
    }

    div.img.image_url {
      display: block;
      width: 300px;
      height: 300px;
      border: 1px black dotted;
      background-size: 100% 100%;
      margin: auto;
    }

    .navbar {
      text-align: center;
      height: 90px;
    }

    .navbar-red {
      background: #c71c22;
      border-bottom-color: #c71c22;
    }

    .navbar span {
      color: white;
      display: block;
      margin: 20px;
      font-size: 30px;
    }

    .navbar a.logout {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      text-decoration: none;
    }

    .navbar a.logout span {
      font-size: inherit;
    }

    .nav-pills li a {
      background-color: white;
      color: #c71c22;
    }

    .nav-pills li a:hover,
    .nav-pills li a:focus
    {
      color: black;
    }

    .nav-pills li.active a,
    .nav-pills li.active a:hover,
    .nav-pills li.active a:focus
    {
      background-color: #c71c22;
      color: white;
    }

    aside {
      position: absolute;
      width: 100px;
    }

    section {
      position: absolute;
      margin-left: 100px;
    }

  </style>
</head>
<body>
  <nav class="navbar navbar-red">
    <div class="container-fluid">
      <span>e-puzzle</span>
      <a href="#" class="logout pull-right">
        <span>Logout</span>
      </a>
    </div>
  </nav>


  <aside>
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active"><a href="#pincodes" role="tab" aria-controls="pincodes" data-toggle="tab">Pincodes</a></li>
      <li role="presentation"><a href="#imagen" role="tab" aria-controls="imagen" data-toggle="tab">Imagen</a></li>
      <li role="presentation"><a href="#balizas" role="tab" aria-controls="balizas" data-toggle="tab">Balizas</a></li>
      <li role="presentation"><a href="#metricas" role="tab" aria-controls="metricas" data-toggle="tab">Métricas</a></li>
    </ul>
  </aside>

  <section>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="pincodes">
        <div class="container">
          <form action="/api/pincodes/upload" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="well bs-component">
                  <div class="form-group">
                    <label>Disponibles:</label>
                    <span class="available"></span>
                  </div>

                  <div class="form-group">
                    <label for="upload" class="btn btn-danger btn-block" >Elige un Archivo
                    <input name="file" id="upload" type="file" accept=".csv" style="display:none">
                    </label>
                  </div>

                  <div class="form-group">
                    <input type="submit" value="Añadir" class="btn btn-danger btn-block">
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="well bs-component">
            <div class="form-group">
              <label for="url_template">
                URL para canjear pincodes (<span style="font-family: monospace; font-style: oblique; font-weight: normal">%{pincode}</span> será reemplazado por cada código):
              </label>
              <input type="text" placeholder="http://..." class="form-control url_template">
            </div>

            <div class="form-group">
              <input type="submit" value="Guardar" class="btn btn-danger send">
            </div>
          </div>

        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="imagen">
        <div class="container">
          <div class="well">
            <div class="form-group">
              <label >
                URL con la imagen a resolver (ha de ser cuadrada):
              </label>
              <input class="image_url form-control" type="text" placeholder="http://...">
            </div>

            <div class="form-group">
              <div class="img image_url"></div>
            </div>

            <div class="row">
              <div class="form-group col-xs-8 col-xs-offset-2">
                <label>Losetas</label>
                <div class="input-group">
                  <input type="number" class="horizontal form-control">
                  <span class="input-group-addon">X</span>
                  <input type="number" class="vertical form-control">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="submit" value="Guardar" class="btn btn-danger send">
            </div>

          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="balizas">
        <div class="container">
          <div class="well">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-danger beacon">
                <div class="panel-heading">
                  1
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4 col-md-6">
                        <div class="input-group">
                          <label class="input-group-addon">Loseta:</label>
                          <input class="tile form-control" type="number" min=1 max=16>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group lock">
                    <label>Desbloqueo</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>

                  <div class="form-group bounty">
                    <label>Contenido</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-danger beacon">
                <div class="panel-heading">
                  2
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4 col-md-6">
                        <div class="input-group">
                          <label class="input-group-addon">Loseta:</label>
                          <input class="tile form-control" type="number" min=1 max=16>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group lock">
                    <label>Desbloqueo</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>

                  <div class="form-group bounty">
                    <label>Contenido</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-danger beacon">
                <div class="panel-heading">
                  3
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4 col-md-6">
                        <div class="input-group">
                          <label class="input-group-addon">Loseta:</label>
                          <input class="tile form-control" type="number" min=1 max=16>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group lock">
                    <label>Desbloqueo</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>

                  <div class="form-group bounty">
                    <label>Contenido</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-danger beacon">
                <div class="panel-heading">
                  4
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4 col-md-6">
                        <div class="input-group">
                          <label class="input-group-addon">Loseta:</label>
                          <input class="tile form-control" type="number" min=1 max=16>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group lock">
                    <label>Desbloqueo</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>

                  <div class="form-group bounty">
                    <label>Contenido</label>
                    <div class="input-group">
                      <span class="input-group-addon">Tipo</span>
                      <select class="form-control type">
                        <option value="image">imagen</option>
                        <option value="video">video</option>
                      </select>
                      <span class="input-group-addon">Tiempo</span>
                      <input class="form-control time" type="number" min=1 max=60>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">URL</span>
                      <input type="text" class="form-control asset" placeholder="http://">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-danger send">
          </div>
          </div>

        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="metricas">
        <div class="container">
          <div class="well bs-component">
            <div class="form-group">
              <h1>No hay suficientes datos de juegos..</h1>
              <input type="button" class="btn btn-danger" value="Descargar CSV">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Login</h1>
        <br>
        <form>
          <input type="text" name="user" placeholder="Usuario">
          <input type="password" name="pass" placeholder="Contraseña">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/scripts/scripts.js"> </script>
</body>
</html>
