<!doctype html>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style type="text/css">
  * {
    box-sizing: border-box;
  }

  body{
    font-family: 'Montserrat', sans-serif;
  }

  fieldset {
    width: 90%;
    display: inline-block;
    text-align: center;
    margin: 5px 5%;
    padding: 0;
  }

  .row {
    display: block;
    margin: 5px 0;
    padding: 0;
  }

  .title{
    font-size: xx-large;
  }

  input[type=file]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input[type=file] + label,
  input[type=submit] {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px grey solid;
  }

  input[type=file]:focus + label,
  input[type=file] + label:hover,
  input[type=submit]:hover {
    opacity: 0.5;
  }

  input[type=file] + label {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  fieldset.options {
    width: 90%;
  }

  fieldset.options label{
    display: block;
  }

  input[type=checkbox]{
    vertical-align: middle;
  }

  input[type=checkbox]:checked + select{
    visibility: visible;
  }

  input[type=text]{
    width: 90%
  }

  div.img.image_url {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px black dotted;
    background-size: cover;
  }

  div.img{
    background-color: lightgrey;
  }

  input.asset {
    width: 70%;
  }

  input.time,
  input.tile{
    width: 10%
  }

</style>

<div class="row">
  <fieldset>
    <form action="/api/pincodes/upload" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="title">Pincodes</div>
      </div>

      <div class="row">
        <span >Disponibles:</span>
        <span class="available"></span>
      </div>

      <div class="row">
        <input name="file" id="upload" type="file" accept=".csv">
        <label for="upload">Elige un Archivo</label>
      </div>

      <div class="row">
        <input type="submit" value="Añadir">
      </div>
    </form>
  </fieldset>
</div>

<div class="row">
  <fieldset class="options">
    <span class="title">URLs</span>
    <div class="row">
      <label>
        <span>
        URL para canjear pincodes (%{pincode} será reemplazado por cada código):
        </span>
        <br>
        <input class="url_template" type="text" placeholder="http://...">
      </label>
    </div>
    <div class="row">
      <label>
        <span>
        URL con la imagen a resolver (ha de ser cuadrada):
        </span>
        <br>
        <input class="image_url" type="text" placeholder="http://...">
        <div class="row">
          <!-- <img class="image_url"> -->
          <div class="img image_url"></div>
          <div class="row">
            <input class="horizontal" type="number"> x
            <input class="vertical" type="number">
          </div>
        </div>
      </label>
    </div>
  </fieldset>
</div>

<div class="row">
  <fieldset class="beacons">
    <div class="row">
      <span class="title">Desbloqueo de balizas</span>

      <div class="row">
        <label class="beacon">
          <div class="row">
            <span class="title">1</span>
            tipo: <select class="type">
              <option value="image">imagen</option>
              <option value="video">video</option>
            </select>
            loseta: <input class="tile" type="number" min=1 max=16>
            tiempo: <input class="time" type="number" min=1 max=60> seg.
          </div>
          <div class="row">
            <input class="asset" type="text" placeholder="http://...">
          </div>
        </label>
      </div>

      <div class="row">
        <label class="beacon">
          <div class="row">
            <span class="title">2</span>
            tipo: <select class="type">
              <option value="image">imagen</option>
              <option value="video">video</option>
            </select>
            loseta: <input class="tile" type="number" min=1 max=16>
            tiempo: <input class="time" type="number" min=1 max=60> seg.
          </div>
          <div class="row">
            <input class="asset" type="text" placeholder="http://...">
          </div>
        </label>
      </div>

      <div class="row">
        <label class="beacon">
          <div class="row">
            <span class="title">3</span>
            tipo: <select class="type">
              <option value="image">imagen</option>
              <option value="video">video</option>
            </select>
            loseta: <input class="tile" type="number" min=1 max=16>
            tiempo: <input class="time" type="number" min=1 max=60> seg.
          </div>
          <div class="row">
            <input class="asset" type="text" placeholder="http://...">
          </div>
        </label>
      </div>

      <div class="row">
        <label class="beacon">
          <div class="row">
            <span class="title">4</span>
            tipo: <select class="type">
              <option value="image">imagen</option>
              <option value="video">video</option>
            </select>
            loseta: <input class="tile" type="number" min=1 max=16>
            tiempo: <input class="time" type="number" min=1 max=60> seg.
          </div>
          <div class="row">
            <input class="asset" type="text" placeholder="http://...">
          </div>
        </label>
      </div>

    </div>
  </fieldset>
</div>


<script type="text/javascript" >
  var request = function(method, route, callback, body){
    var xhr = new XMLHttpRequest()
    xhr.open(method, route)
    xhr.responseType = 'json'
    xhr.addEventListener('load', function(event){
      if (callback)
        callback(event.target.response)
    })
    xhr.send(body)
  }

  var countPincodes = function(elementSelector){
    request('GET', '/api/pincodes/count/', function(response){
      document.querySelector(elementSelector).innerHTML = response.count
    })
  }

  var showCurrentLocks = function(){
    var send = document.createElement('input')
    send.type = 'submit'
    send.value = 'Guardar'
    send.addEventListener('click', function(event){
      event.preventDefault()
      var sponsorFormData = new FormData()

      request('GET', '/api/locks', function(response){
        console.log(response)
      })

      Array.prototype.forEach.call(document.querySelectorAll('.beacon'), function(x){
        var formData = new FormData()
        formData.append('type', x.querySelector('.type').value)
        formData.append('time', x.querySelector('.time').value)
        formData.append('asset', x.querySelector('.asset').value)
        formData.append('tile', x.querySelector('.tile').value)
        formData.append('image', 'all')

        console.log(formData)
        request('POST', '/api/locks', function(response){
          console.log('sent one formData')
        }, formData)
      })
    })

    document.querySelector('.beacons').appendChild(send)
  }

  var showCurrentOptions = function(){
    var send = document.createElement('input')
    send.type = 'submit'
    send.value = 'Guardar'
    send.addEventListener('click', function(event){
      event.preventDefault()
      var sponsorFormData = new FormData()

      var redemptionUrl = document.querySelector('input.url_template[type=text]').value
      sponsorFormData.append('url_template', redemptionUrl)

      var imageUrl = document.querySelector('input.image_url[type=text]').value
      sponsorFormData.append('image_url', imageUrl)

      var sizeHorizontal = document.querySelector('input.horizontal').value
      sponsorFormData.append('size[horizontal]', sizeHorizontal)

      var sizeVertical = document.querySelector('input.vertical').value
      sponsorFormData.append('size[vertical]', sizeVertical)

      request('PUT', '/api/sponsor/the_sponsor', function(response){
        console.log(response)
        document.location.reload()
      }, sponsorFormData)
    })

    request('GET', '/api/sponsor/the_sponsor/selections', function(response){
      document.querySelector('input.url_template[type=text]').value = response.url_template
      document.querySelector('input.image_url[type=text]').value = response.image_url
      document.querySelector('div.img.image_url').style.backgroundImage = 'url('+ response.image_url + ')'
      document.querySelector('input.horizontal').value = response.size.horizontal
      document.querySelector('input.vertical').value = response.size.vertical
    })

    document.querySelector('.options').appendChild(send)
  }

  document.addEventListener('DOMContentLoaded', function(){
    countPincodes('.available')

    showCurrentOptions()
    showCurrentLocks()
  })
</script>
